Tuples and list,

lists are called array in python.

Tuples are IMutable ,secure, faster then lists, only 2 operation perfoms(count and index)

Low in size then list

lists are Mutable

In [9]:
# Creating a tuple 
t = ()
print(t)
t2 = (1,2,3,4,5,6,7)
print(t2)
t3 = (["Hello",  "friends" ,7888 , 4.78, 7<8])
print(t3)

()
(1, 2, 3, 4, 5, 6, 7)
['Hello', 'friends', 7888, 4.78, True]

In [15]:
# Ex of lists
l = [34,"siuri" ,8978>900]
print(l)
# tuple
tup= (34,"siuri" ,8978>900,[3,5,6])
print(tup)
print(tup[2])
print(tup[3][1])

[34, 'siuri', True]
(34, 'siuri', True, [3, 5, 6])
True
5

In [ ]:
t = (1,3,5,6)
print(t * 3)  # other oprations are not workong

(1, 3, 5, 6, 1, 3, 5, 6, 1, 3, 5, 6)

In [ ]:
# concatination
t1 = (1,2,3,4)
t2=(6,7,8)
t3= t1 + t2
print(t3)
# for sum 
print(sum(t3))

(1, 2, 3, 4, 6, 7, 8)
31

In [1]:

t = (1,2,3,4,5.5,4,7,8,9,5,4,2,2,6 , ["Shfia", 878, 89],7,8,9)
print(t[14][2])
print(t.count(2))
print(t.index(9))
print(sum(t))
print(max(t))
print(min(t))

89
3
8

TypeError: unsupported operand type(s) for +: 'float' and 'list'

# Strings

Strings are sequnce of characters

Strings are immutable

Behave like lists

In [44]:

Multi_l = """
my name is Shifa Rabbani
my ag ege is 21
CS
"""
print(Multi_l)

my name is Shifa Rabbani
my ag ege is 21
CS

# Dictnary
Work on a key value pair <br>
key : heading <br>
vlaue : rows Or Coulm  <br>
{} <br>
also known as table <br>
Mutable <br>

In [ ]:
table  = {
    "name" : "Abc",
    "R.no" : 123,
    "marks" : 500
}
print(table)

{'name': 'Abc', 'R.no': 123, 'marks': 500}

In [49]:
table["gpa"] = 3.8
print(table)

{'name': 'Abc', 'R.no': 123, 'marks': 500, 'gpa': 3.8}

In [52]:
# Acess a Vlaue
print(table["name"])
print(table["marks"])

Abc
500

In [ ]:
# ways to create a dictnary
# s = {}

# h = dict{abc=  123, key = "Hello"}
# print(h)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4262979857.py, line 4)

In [65]:
# make an table
d = {"name" :["a" , "b" , "c", "d"] , "rollNo" : [1,2,3,4] }
print(d)

{'name': ['a', 'b', 'c', 'd'], 'rollNo': [1, 2, 3, 4]}

In [69]:
import pandas as pd
 table = pd.DataFrame(d)
 print(table)

IndentationError: unexpected indent (4244227062.py, line 2)

In [74]:
# nested dictnary
table = {"name" : {"1name" : "jayy",  "Lname" : "Roy"}}
print(table)
# other Methods by our own Home Work

{'name': {'1name': 'jayy', 'Lname': 'Roy'}}

# Assighment Statements(=)
# Increament Opreators
# Decreament operators

# Conditinal Struchure 
a block or a blocks of code executed when a condtion is true

1: if is the simplist struchure 

2:identation :Indentation is the spaces at the beginning of a line of code to show which lines belong together (especially in Python).

3:if else

In [10]:
# Conditional struchure
a = 10
if a > 5:
    print("a is greter then 7")
    print("a is greter then 11")
    print("a is greter then 7")

a is greter then 7
a is greter then 11
a is greter then 7

In [4]:
a = True
if a==True:
    print(a)
    print("Hello")
print("This statement is out of bolck")

True
Hello
This statement is out of bolck

In [16]:
a = 34
b = 90
if a > 34 and b < 90:
    print("Hello World")

In [20]:
# Match case
a = 10
match a:
    case 1:
        print("A is 1")
    case 2:
        print("B is 2")
    case _: 
        print("Not match")

Not match

## iterative struchure

Clled control flow machnanism

loops

In [24]:
for loop in range(0 ,10 ,1):
    print(loop)

0
1
2
3
4
5
6
7
8
9

In [28]:
for you in range(0 ,7 ,1):
    print("You are on step ",you)
print("Get laptop")

You are on step  0
You are on step  1
You are on step  2
You are on step  3
You are on step  4
You are on step  5
You are on step  6
Get laptop

In [30]:
for you in range(0 ,7 ,-1):
    print("You are on step ",you)
print(" NOt Get laptop")

 NOt Get laptop

In [38]:
list = ["apple" ,'dear' ,"awl", "Bear"]
print(list)
for i in list:
    print(i)
print(i.index())

['apple', 'dear', 'awl', 'Bear']
apple
dear
awl
Bear

TypeError: index expected at least 1 argument, got 0

In [42]:

dic = {"apple"  :1, 'dear' :2,"awl" :3,  "Bear" :4}
print(dic)
for i in dic:
    print(i," " dic[i])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3084297229.py, line 4)

In [ ]:
for i in range(50):
    if i%2==0:
        print(i ,"number is even")

0 number is even
2 number is even
4 number is even
6 number is even
8 number is even
10 number is even
12 number is even
14 number is even
16 number is even
18 number is even
20 number is even
22 number is even
24 number is even
26 number is even
28 number is even
30 number is even
32 number is even
34 number is even
36 number is even
38 number is even
40 number is even
42 number is even
44 number is even
46 number is even
48 number is even

get 50 numbers
print sum of odd and sum of even 

using loops and conditions

In [ ]:
sumEven =0
sumOdd =0
for i in range(50):
    if i%2==0:
        sumEven +=i
    else:
        sumOdd +=i
print(sumEven)
print(sumOdd)

NameError: name 'sumOdd' is not defined