Tuples and list,

lists are called array in python.

Tuples are IMutable ,secure, faster then lists, only 2 operation perfoms(count and index)

Low in size then list

lists are Mutable

In [9]:
# Creating a tuple 
t = ()
print(t)
t2 = (1,2,3,4,5,6,7)
print(t2)
t3 = (["Hello",  "friends" ,7888 , 4.78, 7<8])
print(t3)

()
(1, 2, 3, 4, 5, 6, 7)
['Hello', 'friends', 7888, 4.78, True]

In [15]:
# Ex of lists
l = [34,"siuri" ,8978>900]
print(l)
# tuple
tup= (34,"siuri" ,8978>900,[3,5,6])
print(tup)
print(tup[2])
print(tup[3][1])

[34, 'siuri', True]
(34, 'siuri', True, [3, 5, 6])
True
5

In [ ]:
t = (1,3,5,6)
print(t * 3)  # other oprations are not workong

(1, 3, 5, 6, 1, 3, 5, 6, 1, 3, 5, 6)

In [ ]:
# concatination
t1 = (1,2,3,4)
t2=(6,7,8)
t3= t1 + t2
print(t3)
# for sum 
print(sum(t3))

(1, 2, 3, 4, 6, 7, 8)
31

In [37]:

t = (1,2,3,4,5.5,4,7,8,9,5,4,2,2,6 , ["Shfia", 878, 89],7,8,9)
print(t[14][2])
print(t.count(2))
print(t.index(9))
print(sum(t))
print(max(t))
print(min(t))

89
3
8

TypeError: unsupported operand type(s) for +: 'float' and 'list'

# Strings

Strings are sequnce of characters

Strings are immutable

Behave like lists

In [44]:

Multi_l = """
my name is Shifa Rabbani
my ag ege is 21
CS
"""
print(Multi_l)

my name is Shifa Rabbani
my ag ege is 21
CS

# Dictnary
Work on a key value pair <br>
key : heading <br>
vlaue : rows Or Coulm  <br>
{} <br>
also known as table <br>
Mutable <br>

In [ ]:
table  = {
    "name" : "Abc",
    "R.no" : 123,
    "marks" : 500
}
print(table)

{'name': 'Abc', 'R.no': 123, 'marks': 500}

In [49]:
table["gpa"] = 3.8
print(table)

{'name': 'Abc', 'R.no': 123, 'marks': 500, 'gpa': 3.8}

In [52]:
# Acess a Vlaue
print(table["name"])
print(table["marks"])

Abc
500

In [ ]:
# ways to create a dictnary
# s = {}

# h = dict{abc=  123, key = "Hello"}
# print(h)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4262979857.py, line 4)

In [65]:
# make an table
d = {"name" :["a" , "b" , "c", "d"] , "rollNo" : [1,2,3,4] }
print(d)

{'name': ['a', 'b', 'c', 'd'], 'rollNo': [1, 2, 3, 4]}

In [69]:
import pandas as pd
 table = pd.DataFrame(d)
 print(table)

IndentationError: unexpected indent (4244227062.py, line 2)

In [74]:
# nested dictnary
table = {"name" : {"1name" : "jayy",  "Lname" : "Roy"}}
print(table)
# other Methods by our own Home Work

{'name': {'1name': 'jayy', 'Lname': 'Roy'}}

# Assighment Statements(=)
# Increament Opreators
# Decreament operators