Tuples and list,

lists are called array in python.

Tuples are IMutable ,secure, faster then lists, only 2 operation perfoms(count and index)

Low in size then list

lists are Mutable

In [9]:
# Creating a tuple 
t = ()
print(t)
t2 = (1,2,3,4,5,6,7)
print(t2)
t3 = (["Hello",  "friends" ,7888 , 4.78, 7<8])
print(t3)

()
(1, 2, 3, 4, 5, 6, 7)
['Hello', 'friends', 7888, 4.78, True]

In [15]:
# Ex of lists
l = [34,"siuri" ,8978>900]
print(l)
# tuple
tup= (34,"siuri" ,8978>900,[3,5,6])
print(tup)
print(tup[2])
print(tup[3][1])

[34, 'siuri', True]
(34, 'siuri', True, [3, 5, 6])
True
5

In [ ]:
t = (1,3,5,6)
print(t * 3)  # other oprations are not workong

(1, 3, 5, 6, 1, 3, 5, 6, 1, 3, 5, 6)

In [ ]:
# concatination
t1 = (1,2,3,4)
t2=(6,7,8)
t3= t1 + t2
print(t3)
# for sum 
print(sum(t3))

(1, 2, 3, 4, 6, 7, 8)
31

In [1]:

t = (1,2,3,4,5.5,4,7,8,9,5,4,2,2,6 , ["Shfia", 878, 89],7,8,9)
print(t[14][2])
print(t.count(2))
print(t.index(9))
print(sum(t))
print(max(t))
print(min(t))

89
3
8

TypeError: unsupported operand type(s) for +: 'float' and 'list'

# Strings

Strings are sequnce of characters

Strings are immutable

Behave like lists

In [44]:

Multi_l = """
my name is Shifa Rabbani
my ag ege is 21
CS
"""
print(Multi_l)

my name is Shifa Rabbani
my ag ege is 21
CS

# Dictnary
Work on a key value pair <br>
key : heading <br>
vlaue : rows Or Coulm  <br>
{} <br>
also known as table <br>
Mutable <br>

In [ ]:
table  = {
    "name" : "Abc",
    "R.no" : 123,
    "marks" : 500
}
print(table)

{'name': 'Abc', 'R.no': 123, 'marks': 500}

In [49]:
table["gpa"] = 3.8
print(table)

{'name': 'Abc', 'R.no': 123, 'marks': 500, 'gpa': 3.8}

In [52]:
# Acess a Vlaue
print(table["name"])
print(table["marks"])

Abc
500

In [ ]:
# ways to create a dictnary
# s = {}

# h = dict{abc=  123, key = "Hello"}
# print(h)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4262979857.py, line 4)

In [65]:
# make an table
d = {"name" :["a" , "b" , "c", "d"] , "rollNo" : [1,2,3,4] }
print(d)

{'name': ['a', 'b', 'c', 'd'], 'rollNo': [1, 2, 3, 4]}

In [69]:
import pandas as pd
 table = pd.DataFrame(d)
 print(table)

IndentationError: unexpected indent (4244227062.py, line 2)

In [74]:
# nested dictnary
table = {"name" : {"1name" : "jayy",  "Lname" : "Roy"}}
print(table)
# other Methods by our own Home Work

{'name': {'1name': 'jayy', 'Lname': 'Roy'}}

# Assighment Statements(=)
# Increament Opreators
# Decreament operators

# Conditinal Struchure 
a block or a blocks of code executed when a condtion is true

1: if is the simplist struchure 

2:identation :Indentation is the spaces at the beginning of a line of code to show which lines belong together (especially in Python).

3:if else

In [10]:
# Conditional struchure
a = 10
if a > 5:
    print("a is greter then 7")
    print("a is greter then 11")
    print("a is greter then 7")

a is greter then 7
a is greter then 11
a is greter then 7

In [4]:
a = True
if a==True:
    print(a)
    print("Hello")
print("This statement is out of bolck")

True
Hello
This statement is out of bolck

In [16]:
a = 34
b = 90
if a > 34 and b < 90:
    print("Hello World")

In [20]:
# Match case
a = 10
match a:
    case 1:
        print("A is 1")
    case 2:
        print("B is 2")
    case _: 
        print("Not match")

Not match

## iterative struchure

Clled control flow machnanism

loops

In [24]:
for loop in range(0 ,10 ,1):
    print(loop)

0
1
2
3
4
5
6
7
8
9

In [28]:
for you in range(0 ,7 ,1):
    print("You are on step ",you)
print("Get laptop")

You are on step  0
You are on step  1
You are on step  2
You are on step  3
You are on step  4
You are on step  5
You are on step  6
Get laptop

In [30]:
for you in range(0 ,7 ,-1):
    print("You are on step ",you)
print(" NOt Get laptop")

 NOt Get laptop

In [38]:
list = ["apple" ,'dear' ,"awl", "Bear"]
print(list)
for i in list:
    print(i)
print(i.index())

['apple', 'dear', 'awl', 'Bear']
apple
dear
awl
Bear

TypeError: index expected at least 1 argument, got 0

In [42]:

dic = {"apple"  :1, 'dear' :2,"awl" :3,  "Bear" :4}
print(dic)
for i in dic:
    print(i," " dic[i])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3084297229.py, line 4)

In [ ]:
for i in range(50):
    if i%2==0:
        print(i ,"number is even")

0 number is even
2 number is even
4 number is even
6 number is even
8 number is even
10 number is even
12 number is even
14 number is even
16 number is even
18 number is even
20 number is even
22 number is even
24 number is even
26 number is even
28 number is even
30 number is even
32 number is even
34 number is even
36 number is even
38 number is even
40 number is even
42 number is even
44 number is even
46 number is even
48 number is even

get 50 numbers
print sum of odd and sum of even 

using loops and conditions

In [50]:
sumEven =0
sumOdd =0
for i in range(50):
    if i%2==0:
        sumEven +=i
    else:
        sumOdd +=i
print(sumEven)
print(sumOdd)

600
625

# Tuples

In [60]:
tea_tup =("Black" , "Green" ,"Oolong")
print(tea_tup)
# tea_tup[0] = 'Lemon' # Show erorr becuse it is immutable
# print(tea_tup)
more_tea =("Herbal","Herbal","Earl Grey")
print(more_tea)
print(tea_tup + more_tea)
if 'Green' in tea_tup:
    print("hyy")
print(more_tea.count("Herbal"))

print(type (more_tea))

('Black', 'Green', 'Oolong')
('Herbal', 'Herbal', 'Earl Grey')
('Black', 'Green', 'Oolong', 'Herbal', 'Herbal', 'Earl Grey')
hyy
2
<class 'tuple'>

Transportation Mode slection

In [2]:
distance = int(input("Enter a Transportaion based on distance"))
if distance <3 :
    tranport  ="walk"
if distance <15:
    tranport ="Bike"
if distance >15:
    tranport ="Car"
print("AI recomends you the transport of:",tranport)

AI recomends you the transport of: Bike

Coffe Coustmization

Password checker

# Functions
reused code of block <br>
used to :<br>
code readebilty<br>
code maintainabilty<br>
code Moduler has two struchres <br>
struchure and Unstruchure <br>

In [51]:
def sTrings(a,b,c):
    len_a = len(str(a))  # Convert to string first to get length
    len_b = len(str(b))
    len_c = len(str(c))
    if len_a > len_b and len_a > len_c:
        return "a is the highest value"
    elif len_b > len_a and len_b > len_c:
        return "b is the highest value"
    elif len_c > len_a and len_c > len_b:
        return "c is the highest value"
    else:
        return "cant compare"

In [54]:
a = "udiuui"
b = "lu98783i4j"
c = "shorter"
print(sTrings(a, b, c))

b is the highest value

simple calculator using fuctions

total 4 functions for addition, subtruction, multiplication, division

call them using if with orperator

In [10]:
def calculator(a,b):
    add = a+b
    mins = a-b
    mul = a*b
    div = a/b
    return add,mins,mul,div

In [11]:
calculator(23,12)

(35, 11, 276, 1.9166666666666667)

In [23]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def div(a,b):
    return a/b
def mul(a,b):
    return a*b
cal = input("Enter operator - * / +")
if cal== '+':
    print(add(12,22))
elif cal == '-':
    print(sub(8,5))
elif cal == '/':
    print(div(4,4))
elif cal == '*':
    print(mul(8,2))
else:
    print("Invalid input")

Invalid input

# args and kwargs

In [49]:
def funArgs(*args):
    print(type(args))
    print(args)
    print(normal)
her =["harry",'Charry','strabarry',' Programmer']
normal ='''My name is SHifa Rabbani
i am a student of CS and now learning a pyhton
'''

In [50]:
funArgs(*her)
funArgs(*noraml)

<class 'tuple'>
('harry', 'Charry', 'strabarry', ' Programmer')
My name is SHifa Rabbani
i am a student of CS and now learning a pyhton

NameError: name 'noraml' is not defined

Kwargs

In [61]:
def funArgs(normal ,*args,**kwargs):
    print(type(args))
    print(args)
    print(normal)
    print(kw)
her =["harry",'Charry','strabarry',' Programmer']
normal ='''My name is SHifa Rabbani
i am a student of CS and now learning a pyhton
'''
kw = {'student':["ali", "shifa",'kainat'], "rollNo":[233,432,455]}

In [62]:
funArgs(normal,*her,**kw)

<class 'tuple'>
('harry', 'Charry', 'strabarry', ' Programmer')
My name is SHifa Rabbani
i am a student of CS and now learning a pyhton

{'student': ['ali', 'shifa', 'kainat'], 'rollNo': [233, 432, 455]}

Password Strength checker

In [74]:
password = input("Enter a password(must be greater then 6)")
if len(password) <6:
    streength="Weak"  
elif len(password) <=10:
    streength="Meduim"
elif len(password) >11:
    streength="Strong"
print("Yuor password strenght is",streength ,"and your password is :",password)

Yuor password strenght is Meduim and your password is : jkhdf87

Leap year

In [82]:
year = int(input("Enter a year"))
if (year % 500 == 0) or (year % 4 == 0 and year % 100 !=0):
    print(year,"is leap Year")
else:
    print(year,"is NOT  leap year")

2024 is leap Year

pet food recomendation

In [81]:
pet = input("Enter your pet")
age = int(input("Enter your pet age"))
if (pet == "puppy Dog" and  age <= 2):
    print(pet,"Food is PUPY FOOD based on age",age)
elif (pet =="little cat" and  age <= 2):
    print(pet,"Food is pupuy JUNIOR CAT on age",age)
elif (pet =="Cat" and  age >= 6):
    print(pet,"Food is SENIOR CAT based on age",age)    
elif (pet =="dog" and  age >= 6):
    print(pet,"Food is SENIOR DOG based on age",age)

else:
    print("Not found")

Cat Food is SENIOR CAT based on age 6

# Closure and scopes

In [87]:
userName = "Chai or code"

def func():
    userName = "chai"
    print(userName)
print(userName)

Chai or code

In [88]:
func()

Chai or code

In [ ]:
x = 99
# x is golbally present here thats why its possible to call in a function
def func_2(y): 
    z= x+y
    return z

In [90]:
result = func_2(1)
print(result)

100

In [91]:
def func_3():
    x = 88  #becuse x is golbally declare 
    # and try to avoid this method  
    global x
    x  = 12
print(x)

99

In [94]:
func_3()

In [112]:
def f1():
    x=88
    def f2():
        print(x)
    f2()

In [113]:
f1()    
f2()

88

NameError: name 'f2' is not defined

# loops

Counting positive numbers

In [15]:
numbers = [1 ,-2,3,-4,-5,6,-7,8,9,-10]
positve_num_count = 0
for num in numbers:
    if num > 0:
        positve_num_count += 1
print("Final count of positive numbers is :",positve_num_count)

Final count of positive numbers is : 5

sum of even numbers

In [32]:
n= int(input("enter a number"))
sumEven = 0
for i in range(1, n+1):
    if i%2== 0:
        sumEven +=1
print(f"{n} Sum of your Even number:{sumEven}" )

12 Sum of your Even number:6

Multiplication table for printer

In [37]:
number = int(input("Enter a number"))

for i in range(1,11):
    if i == 5:
        continue 
    print(number , 'x' , i , '=' ,number*i)

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

Reverse a  string using a loop

In [ ]:
string =input("Enter a string")
print(string)
rev = ''
for w in string:
    rev = w + rev
print("Your reverse string is :",rev)

hello
Your reverse string is : olleh

Find the first Non_Repeated Charactor

In [49]:
word = input("Enter a letter")
print(word)
for char in word: 
    if word.count(char) == 1:
        print("Non Reapeated char is :" ,char)
        break

hello
Non Reapeated char is : h

Factorial Calculator

In [57]:
number = int(input("Enter a number"))
factorial = 1

while number > 0:
    # factorial = factorial * number
    # number = number - 1
    # OR
    factorial *= number
    number -= 1
    
    
print(f"Factorial of the number is :{factorial}")

Factorial of the number is :479001600

Validate a number

In [61]:
while True:
    number = int(input("Enter value b/w 1 and 10"))
    if 1 <= number <= 10:
        print("Thanks")
        break
    else:
        print("Invalid number , try agian")

Invalid number , try agian
Invalid number , try agian
Invalid number , try agian
Thanks

Prime number

In [ ]:
num = int(input("Enter a number"))
if num >1:
    is_prime = True
    for i in range(2,num):
        if (num%i)==0:
            is_prime = False
            break
print(is_prime)

    #    OR
#     if is_prime:
#         print("Number is Prime:",num)
   
#     else:
#         print("Number is not prime",num)
# else:
#     print("Number is not prime",num)

False

List uinqness checker

In [79]:
items = ["Apple" , "banan" , "Orange" , "Apple" ,"Mango"]

unique_item = set()

for item in items:
    if item in unique_item:
        print("Duplicate" , item)
        break
    unique_item.add(item)
print(unique_item)

Duplicate Apple
{'Orange', 'banan', 'Apple'}

Exponential backOF

In [82]:
import time

wait_time = 1
max_retries = 5
attempts = 0

while attempts < max_retries:
    print("Atteampts" ,attempts + 1 ,"Wait time" ,wait_time)
    time.sleep(wait_time)
    wait_time *= 2
    attempts += 1

Atteampts 1 Wait time 1
Atteampts 2 Wait time 2
Atteampts 3 Wait time 4
Atteampts 4 Wait time 8
Atteampts 5 Wait time 16

# Decorators

Timing function execution

In [87]:
import time
def timer(func):
    # arguments and key_word arguments
    def wrapper(*args , **kwargs):
        start = time.time()
        result= func(*args , **kwargs)
        end = time.time()
        print(f"{func.__name__} ran in {end-start} time" )
        return result
    return wrapper

@timer
def example_function(n):
    time.sleep(n)
example_function(2)

example_function ran in 2.0002455711364746 time

Debuging Function call

In [ ]:
def debug(func):
    def wrapper(*args, **kwargs):
        args_value = ', '.join()
        return func(*args , **kwargs)

    return wrapper


def greet (name , greeting = "Hello"):
    print(f"{greeting} , {name}")

greet("chai" , greeting = "Han Ji")
print(greet)

Han Ji , chai
<function greet at 0x0000020A61A0BA60>