In [ ]:
# Jupyter Notebook is a file where you can write Python code and see the result immediately.
# Hello world
print("Hello World")

Hello World

In [3]:
print(78+87)

165

In [2]:
a=int(input("Enter a first number"))
b=int(input("Enter a 2nd number"))
print("a =",a)
print("b =",b)
print("Addition",a+b)
print("Subtraction",a-b)
print("Multiplication" , a*b)
print("Remainder",a%b)
print("Division",a/b)

a = 78
b = 34
Addition 112
Subtraction 44
Multiplication 2652
Remainder 2.2941176470588234
Division 2.2941176470588234

# Tasks

1. Tasks : Multi Lines comments in python

In [3]:
# Print hello world
print("Hello World")

Hello World

2. Tasks : Multi Lines Strings

In [ ]:
user =[
    "My name is Shfia Rabbani"
    "i am 21 years old"
    "Im a student of Computer Science"
    "This is called a strings in lists"
]
print(user)

['My name is Shfia Rabbanii am 21 years oldIm a student of Computer Science']

3. Tasks : Bitwise Operation in Details

Bitwise operators work directly on the binary (0 and 1) form of numbers to perform operations bit by bit.

In [12]:
a = 5
b = 3
# and
print(a & b) 
# Becuse = 0101 & 0011 = 0001 → 1
# or
print( a | b)
# Becuse = 0101 | 0011 = 0111 → 7
# xor
print(a ^ b)
# Becude = 0101 ^ 0011 = 0110 → 6
# Not
print(~a)
# Becuse = ~0101 = -(0101 + 1) → -6

1
7
6
-6

4. Tasks : Operations on Numbers

In [13]:
a=int(input("Enter a first number"))
b=int(input("Enter a 2nd number"))
print("a =",a)
print("b =",b)
print("Addition",a+b)
print("Subtraction",a-b)
print("Multiplication" , a*b)
print("Remainder",a%b)
print("Division",a/b)

a = 12
b = 14
Addition 26
Subtraction -2
Multiplication 168
Remainder 12
Division 0.8571428571428571

5. Tasks : Operations on Lists

In [32]:
list = ["Hello World" , 1965 , 45 > 222 , "cherry"]
print(list)
list[0] = "Pakistan"
print(list)
list.pop(1) 
print(list)
list.append("apple")
print(list)

['Hello World', 1965, False, 'cherry']
['Pakistan', 1965, False, 'cherry']
['Pakistan', False, 'cherry']
['Pakistan', False, 'cherry', 'apple']

6. Tasks : Operations on  2d Lists

Array inside array is called 2d array, Rows and columns are define in 2d array

In [37]:
# 2d array
arr = [
    [1,2,3],
    [4,5,6],
    [3,5,2]
]
print(arr)
print(arr[1][2])
print(arr[1][0])
arr.append([11,12,13])
print(arr)

[[1, 2, 3], [4, 5, 6], [3, 5, 2]]
6
4
[[1, 2, 3], [4, 5, 6], [3, 5, 2], [11, 12, 13]]

7. Tasks : Operations like sum , min, max , sort , count, reverse, len , type, upper, lower, capatelized

In [55]:
# Sum
number = [2,5,8,9,9,2,2,0,11]
print(sum(number))
print(min(number))
print(max(number))
number.sort()
print(number)
print(number.count(2))
print(len(number))
print(type (number))
print(number.clear())
print(number.copy())

48
0
11
[0, 2, 2, 2, 5, 8, 9, 9, 11]
3
9
<class 'list'>
None
[]

In [60]:
animals ="Dog,Elephant, Horse ,Camele"
print(animals.upper())
print(animals.lower())
print(animals.capitalize())
print(type(animals))

DOG,ELEPHANT, HORSE ,CAMELE
dog,elephant, horse ,camele
Dog,elephant, horse ,camele
<class 'str'>

8. Tasks : 100 Progrmas

1.Three programs taking 3 inputs each

In [66]:
# creat a profile
name = input("Enter Your Name")
age = int(input("Enter Your age"))
email =input("Enter You Email")
greetings=("Comgarulation :",name)
print(name) 
print(age)
print(email)
print(greetings)

Shifa Rabbani
21
shifa@gmail.com
('Comgarulation :', 'Shifa Rabbani')

2.Ten programs on Bitwise Operations

In [ ]:
# 1 Bitwise Operation
# & | ~ ^
i =0  
print( i | 2) 
print( i & 2)
print( ~ 2)
print( i ^ 2)

2
0
-3
2

In [1]:
a =10
b = 3
c = 4.7
print(a/b)
print(a/b)
print("Hello")

3.3333333333333335
3.3333333333333335
Hello