In [3]:
import math 
a =10
b = 3
print(a/b)
print(math.floor(a/b))

3.3333333333333335
3

Task 2: given x=7,update x to x+1, then to x-2 , x*3, x/3(in seprate assigments)

In [ ]:
x = 7
print(x)
x += 1
print(x)
x =x-1
print(x)
x = x*3
print(x)
x = x/ 3
print(x)

7
8
7
21
7.0

Task 3: Swap a and b without using 3rd varaible

In [54]:
a = 2
b = 4
a = a+b
b = a+b 
a = b-a
b = b-a
b = b-a
print("a =",a)
print("b =",b)

a = 4
b = 2

Task 4:Given price 450 and discout  = 15% (Compute final price after discount)

In [ ]:
price = 450
discount= price * (15/100)
print(discount)

67.5

Task 5 :give seconds 3672, compute houres , minuts,rmainig Seconds

Task 6: Given n=1,2,3,4,5, compute last digit and first (No Loop)

In [67]:
n=1,2,3,4,5
print(n)
print(n[0])
print(n[4])

(1, 2, 3, 4, 5)
1
5

Task 7:Given length=12 and width=8, compute area and perimeter.

In [69]:
length = 12
width = 8
area = length + width
print(area)
perameter = area * 2
print(perameter)

20
40

Task 8:Given celsius=37, compute Fahrenheit.

# Strings basics

Task 21:Given s="python", get first char, last char, and middle char(s).

In [76]:
s= "python"
print(s[0])
print(s[3])
print(s[-1])

p
h
n

Task 22:Given s="hello world", extract "world" using slicing.

In [81]:
s = "Hello World"
x=slice(0,5)
print(s[x])

Hello

Task 23:Given s="  Data Science  ", remove extra spaces from both sides.

In [85]:
s= "  Data Science  " 
print(s)
print(s.strip())

  Data Science
Data Science

Task 24:Given s="BANANA", make it lowercase.

In [ ]:
s ="BANANA"
print(s.lower())

banana

Task 25:Given s="paKisTaN", make it all uppercase and all lowercase (two variables).

In [89]:
s = "paKisTaN"
l = s.lower()
print(l)
u = s.upper()
print(u)

pakistan
PAKISTAN

Task 26: Given s="abc123", separate letters part and digits part using slicing

In [ ]:
s = "123AbC"
t = slice(0,3)
print(s[t]) 
print(s)  # slice can not change the orignal string
y = slice(3,6)
print(s[y])

123
123AbC
AbC

Task 27:Given s="mississippi", count how many times "s" occurs.

In [99]:
s = "mississippi"
print(s.count("s"))

4